@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
}

.header-barra {
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 8rem;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0)
  );
}

.ancho-seccion {
  margin-top: -8rem;
  padding-top: 8rem;
  visibility: hidden;
}

.header-menu {
  display: flex;
  margin: 0 4rem;
  gap: 4rem;
}

.logo {
  height: 7rem;
  width: 8rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

.navegacion_menu {
  list-style: none;
}

.navegacion_link {
  font-size: 1.9rem;
  color: white;
  text-decoration: none;
}

.slide {
  background-image: url(./IMAGENES/Central/humaya-central.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 130%;
  padding: 8rem;
  display: flex;
  align-items: center;
  width: 100%;
  background-position: 100% 55%;
}

.text-container {
  width: 50%;
  max-width: 50%;
  margin-left: 53%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1rem;
}

.text-container h1 {
  color: white;
  margin: 1rem 0;
  font-weight: 100;
  margin-bottom: 2rem;
  font-size: 4rem;
  text-align: center;
}

.text-container p {
  font-size: 1.5rem;
  color: white;
  line-height: 3rem;
  text-align: center;
  padding: 2rem;
}

.btn-conocenos {
  display: block;
  background-color: rgba(24, 1, 1, 0.589);
  border-radius: 2rem;
  color: white;
  padding: 2rem;
  width: fit-content;
  text-decoration: none;
  margin: 1.8rem auto;
}

.btn-conocenos:hover {
  background-color: black;
  color: white;
}

.calidad {
  background-color: rgb(36, 31, 31);
  padding: 4rem;
}

.titulo-calidad {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.seccion-img {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: auto;
}

.seccion-img .calidad-png img {
  margin: 3rem;
  max-width: 10rem;
}

.seccion-img .calidad-png p {
  color: #bca177;
  text-align: center;
  font-weight: 100;
  font-size: 1.8rem;
}

.titulos {
  background-color: #646262;
  padding: 3rem;
  text-align: center;
  color: white;
}

.seccion-productos {
  display: flex;
}

.productos-texto {
  width: 100%;
  padding: 3rem 10rem;
  background-color: black;
  color: #bca177;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.seccion-productos img {
  max-width: 50%;
}

.nombre-producto {
  margin: 1rem;
  font-size: 3rem;
  font-weight: 300;
}

.nombre-producto,
.descripcion-producto,
.presentacion-producto,
.info-producto {
  padding: 1rem 0;
}

.descripcion-producto {
  color: white;
  text-align: justify;
  font-size: 1.8rem;
}

.presentacion-producto,
.parrafo-contacto {
  font-weight: 900;
  text-align: justify;
  font-size: 2rem;
}

.info-producto {
  margin: 3rem;
}

.link-producto {
  border: solid 0.3rem;
  border-color: #bca177;
  text-decoration: none;
  color: #bca177;
  padding: 1rem 2rem;
  font-size: 2rem;
}

.link-btn {
  margin: auto;
  padding: 2rem;
  width: fit-content;
}

.link-producto:hover {
  background-color: #bca177;
  color: black;
}

.text-img {
  flex-direction: row-reverse;
}

.end {
  background-color: #bca177;
  padding: 3rem 0;
}

.end img {
  padding: 0 9rem;
}

.productos-texto.maicena {
  background-color: #bca177;
  color: #684723;
  padding: 0px 2rem 0 11rem;
}

.link-producto.box-maicena:hover {
  background-color: #684723;
  color: #bca177;
}

.link-producto.box-maicena,
.btn-enviar {
  color: #684723;
  border: solid;
}

.seccion-contacto {
  display: grid;
  grid-template-columns: 40% 60%;
}

.box-contacto {
  padding: 4rem 5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.seccion-contacto img {
  width: 100%;
}

.parrafo-contacto {
  color: #684723;
}

label {
  color: #574b37;
  margin-bottom: 1rem;
  display: block;
}

input {
  border: none;
  width: 100%;
  max-width: 100%;
  background-color: #684723;
  padding: 1rem;
  color: white;
}

.comentarios {
  padding: 3rem;
}

.btn-enviar {
  margin: auto;
  padding: 1rem;
  background-color: transparent;
  font-weight: 900;
  text-decoration: none;
}

.btn-enviar:hover {
  background-color: #684723;
  color: #bca177;
  border: 3px solid #684723;
}

#receta {
  background-color: rgb(36, 31, 31);
}

#receta .titulos {
  background-color: transparent;
  padding: 2rem;
}

.receta-producto {
  margin: auto;
  width: 70%;
}

.receta-colum {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  padding: 2rem;
}

.box-receta {
  background-color: #bca177;
  color: #574b37;
  overflow: hidden;
}

.box-receta img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

#receta h3 {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  margin: 1rem 0;
}

#receta p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
  color: white;
  padding: 0 1.5rem;
}

#footer {
  background-color: black;
}

#footer .titulos {
  background-color: transparent;
  padding: 0;
  color: #bca177;
}

.slide-footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem 0;
}

.menu-footer {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  width: 60%;
  margin: auto;
}

.nav-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem 0;
}

.titulo-nav {
  color: #bca177;
  font-size: 2rem;
  font-weight: 900;
}

.menu-footer img {
  height: 12rem;
  object-fit: contain;
  margin: auto;
}

.mapa {
  width: 100%;
  height: 11rem;
  padding: 0.5rem 2rem;
  text-align: center;
  border: none;
}

.box-mapa {
  width: 100%;
}

.box-mapa p {
  color: white;
  font-size: 1.8rem;
  font-weight: 100;
  text-align: center;
  padding-top: 0.5rem;
}

footer .brand {
  background-color: #bca177;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

footer .brand .links {
  padding-left: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

.brand i {
  color: white;
}
