html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(330deg, #993599 0%, #1c94a3 100%);
}

.container {
  width: 45%;
  max-width: 100vh;
  padding: 1rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 1.2rem 1.2rem #cbced1;
}

.display #pantalla {
  width: 100%;
  height: 7rem;
  font-size: 3.5rem;
  outline: none;
  border: none;
  padding: 0 0.1rem;
  text-align: right;
  background: #ecf0f3;
  border-radius: 0.6rem;
  box-shadow: inset 0.8rem 0.8rem 0.8rem #cbced1,
    inset 0.8rem 0.8rem 0.8rem #cbced1;
}

.botones {
  width: 100%;
  margin-top: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.botones .rows button {
  width: 8rem;
  height: 3rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 0.8rem #00000020;
}

.rows {
  text-align: center;
}

#eval {
  background: #33ccff;
  color: #fff;
  box-shadow: inset 5px 5px 8px #66d9ff, inset -5px -5px 8px #00ace6;
}

#eval:hover {
  box-shadow: inset 5px 5px 8px #00ace6, inset -5px -5px 8px #00ace6;
}

#ac {
  background: #33cc33;
  color: #fff;
}

#ac:hover {
  box-shadow: inset 5px 5px 8px #2eb82e, inset -5px -5px 8px #33cc33;
}

#ce {
  background: #ff3399;
  color: #fff;
}

#ce:hover {
  box-shadow: inset 5px 5px 8px #e60073, inset -5px -5px 8px #ff3399;
}
